
/*------------- MISC -------------*/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    /* Disable the input spin buttons */
    -webkit-appearance: none; 
    margin:             0; 
}
input[type=number] {
    /* Disable the input spin buttons -- firefox*/
    -moz-appearance:    textfield;
}

.scrollableMenu {
    /* Set a max size and scroll the rest */
    min-width:      60px;
    height:         auto;
    max-height:     265px; /* Allow to extra beyond defaults */
    overflow-x:     hidden !important;
}

.modal-header {
  top:              0;
  right:            0;
  left:             0;
  height:           30px;
  padding:          5px 10px 10px 10px;
  border:           0;
  border-radius:    4px 4px 0 0;

  background: -moz-linear-gradient(90deg, rgba(46,87,144,1) 0%, rgba(46,87,144,1) 59%, rgba(64,122,202,1) 99%, rgba(65,123,204,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(65,123,204,1)), color-stop(1%, rgba(64,122,202,1)), color-stop(41%, rgba(46,87,144,1)), color-stop(100%, rgba(46,87,144,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(90deg, rgba(46,87,144,1) 0%, rgba(46,87,144,1) 59%, rgba(64,122,202,1) 99%, rgba(65,123,204,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(90deg, rgba(46,87,144,1) 0%, rgba(46,87,144,1) 59%, rgba(64,122,202,1) 99%, rgba(65,123,204,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(90deg, rgba(46,87,144,1) 0%, rgba(46,87,144,1) 59%, rgba(64,122,202,1) 99%, rgba(65,123,204,1) 100%); /* ie10+ */
  background: linear-gradient(0deg, rgba(46,87,144,1) 0%, rgba(46,87,144,1) 59%, rgba(64,122,202,1) 99%, rgba(65,123,204,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#417BCC', endColorstr='#2e5790',GradientType=0 ); /* ie6-9 */
}

.modal-title {
  color:            #fff;
}

.modal-footer {
  height:           40px;
  padding:          10px;

/*background:       #f1f3f5;*/
  border-radius:    0 0 4px 4px ;
}

/*------------- WELLS -------------*/
.outterWell {
    
    min-height:         20px;
    padding:            4px;
    margin:             5px;
    width:              43em;
    height:             10em;
    background-color:   #f5f5f5;
    border:             1px solid #e3e3e3;
    border-radius:      4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);    
}
.byteWell {
    display:            inline-block; 

}
.nibbleWell {
    
    min-height:         20px;
    padding:            4px 3px 3px 0px;
    margin-bottom:      5px;
    background-color:   #f5f5f5;
    border:             1px solid #e3e3e3;
    border-radius:      4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

/*------------- ACCORDION -------------*/
.extByteAcc > div {
    /* Overall size of the accordion (header and body) */
    width:              43em;
    margin-left:        5px;
}

.extByteAccGrp > div {
    padding:            3px 0 0 0;
}

.extByteAccHdr {    
}

.extByteAccLbl {
    /* Extended View Label */
    margin-left:        15px;
}

.extByteAccLblIcon {
    /* Extended View Icon */
    margin-right:       15px;
}

.panel-body {
    /* Panel inside the accordion -- contents of accordion */
    padding:            4px 0 0 5px;
    height:             19.1em;
}

/*------------- EACH BYTE -------------*/
.ngByteByte {

}
.ngByteNibbleHi {
/*  display:                inline-block;*/
    float:                  left;
    padding-left:           8px;
    margin-right:           -5px;
    border-radius:          4px 0 0 4px;
}
.ngByteNibbleLo {
    display:                inline-block;
    padding-left:           8px;
    border-radius:          0 4px 4px 0;
}

/*------------- EACH BIT -------------*/
.ngByteBit {
    display:        inline-block;
    width:          1.5em;
}
.ngByteBitLbl {
    display:        block;
    font-size:      10px;
    margin-bottom:  0;
}
.ngByteBitCheck {
    display:        block;
}

/*------------- ALL BITS -------------*/
.ngBitContainer {
    width:              390px;
    height:             9em;
    float:              left;
    margin-left:        5px;
}

/*------------- EACH WORD -------------*/
.ngByteWordHi {
    /* Hi Word */
    margin-left:        5px;
}
.ngByteWordHi1 {
    /* Hi Word, Hi Byte */
/*  background-color:   gold;*/
}
.ngByteWordHi0 {
    /* Hi Word, Lo Byte */
/*  background-color:   green;*/
}
.ngByteWordHi0:after {
    /* Hi Word, Lo Byte */
/*  clear:          both;*/
}

.ngByteWordLo {
    /* Lo Word */
    margin-left:        5px;
}
.ngByteWordLo1 {
    /* Lo Word, Hi Byte */
/*  background-color:   blue;*/
}
.ngByteWordLo0 {
    /* Lo Word, Lo Byte */
/*  background-color:   pink;*/
}

/*------------- EACH INPUT -------------*/
.ngByteContDec0 {
    margin-top:         42px;
    margin-bottom:      23px;
}
.ngByteLabelDec0 {
    display:            inline-block;
    margin:             0 5px 0 8px;
    width:              54px;
}
.ngByteInputDec0 {
    display:            inline-block;
    width:              8em;
    height:             22px;
    font-size:          14px;
}
.ngByteContDec1 {
    margin-top:         42px;
    margin-bottom:      23px;
}
.ngByteLabelDec1 {
    display:            inline-block;
    margin:             0 5px 0 8px;
    width:              54px;
}
.ngByteInputDec1 {
    display:            inline-block;
    width:              8em;
    height:             22px;
    font-size:          14px;
}
.ngByteContDec2 {
    margin-top:         62px;
    margin-bottom:      23px;
}
.ngByteLabelDec2 {
    display:            inline-block;
    margin:             0 5px 0 8px;
    width:              54px;
}
.ngByteInputDec2 {
    display:            inline-block;
    width:              8em;
    height:             22px;
    font-size:          14px;
}
.ngByteContHex0 {
}
.ngByteLabelHex0 {
    display:            inline-block;
    margin:             0 5px 0 8px;
    width:              54px;
}
.ngByteInputHex0 {
    display:            inline-block;
    width:              8em;
    height:             22px;
    font-size:          14px;
}
.ngByteContHex1 {
}
.ngByteLabelHex1 {
    display:            inline-block;
    margin:             0 5px 0 8px;
    width:              54px;
}
.ngByteInputHex1 {
    display:            inline-block;
    width:              8em;
    height:             22px;
    font-size:          14px;
}

.ngByteContHex2 {
}
.ngByteLabelHex2 {
    display:            inline-block;
    margin:             0 5px 0 8px;
    width:              54px;
}
.ngByteInputHex2 {
    display:            inline-block;
    width:              8em;
    height:             22px;
    font-size:          14px;
}

/*------------- BYTE CONTROLS -------------*/
.ngByteCtrls {
    margin:             5px 0 10px 13px;
}
.ngByteCtrlSet {
}
.ngByteCtrlClr {
}
.ngByteCtrlEndian {
}
.ngByteCtrlShl {
    margin-left:        15px;
}
.ngByteCtrlShiftNum {
    width:              4em;

    /* needed for minified version                */
    /* not sure why this is messed up in minified */
    margin-left:        2px !important;
    margin-right:       2px !important;
}             
.ngByteCtrlShr {
}
.ngByteCtrlDec {
    margin-left:        15px;
}
.ngByteCtrlInc {
}

/*------------- BYTE OPERATIONS -------------*/
.ngByteOpCont {
    /* div/container for the bits operations */
    margin:             8px 0 5px 15px;
}
.ngByteOpCls {
    margin-left:        10px;
}

/*------------- BYTE SIZES -------------*/
.ngByteSzCont {
    /* div/container for the byte size operations */
    float:              right;
    margin-top:         4px;
    margin-right:       20px;
}
.ngByteSz {
    /* Dropdown button */
    height:             22px;
    margin-top:         1px;
    width:              45px;

    /* needed for minified version                */
    /* not sure why this is messed up in minified */
    margin-left:        5px !important;
}
.ngByteSzLbl {
    margin-top:         2px;
}

/*----------- DROPDOWNS -----------*/

.ngByteSignedCheck {
    vertical-align:     top;    
}

.ngByteShiftDDCaret {
    /* Dropdown carets */
    float:          right; 
    margin-left:    5px; 
    margin-top:     7px;
}

.ngByteBitsDDCaret {
    /* Dropdown carets */
    float:          right; 
    margin-left:    5px; 
    margin-top:     7px;
}

/*------------- ABOUT -------------*/
.ngByteAbountCont {
    /* div/container for the setup icon */
    float:              right;
    margin-top:         4px;
    margin-right:       14px;
}
.ngByteAboutIcon {
    /* About icon */
    font-size:          1.2em; /* size of icon */
    margin-top:         2px;
}
.ngAboutBodyTitle {
    margin-top:         0;
    text-align:         center;
}
.ngAboutBodyAuthor {
    font-size:          1em;
    text-align:         center;
}
.ngAboutBodyLicense {
    font-size:          1em;
    text-align:         center;
    margin-bottom:      10px;
}


/*===========================================================================*/
/*========================== FIREFOX SPECIFIC OVERRIDES =====================*/
/*===========================================================================*/

@-moz-document url-prefix() {
    
    .ngByteShiftDDCaret {
        /* Dropdown caret */
        float:          unset; 
        margin-left:    5px; 
        margin-top:     unset;
    }
    .ngByteBitsDDCaret {
        /* Dropdown caret */
        float:          unset; 
        margin-left:    5px; 
        margin-top:     unset;
    }

    .ngByteCtrlShiftNum {
        height:         22px;
    }

    .ngByteSignedCheck {    
        vertical-align:     bottom;
    }
    
    .ngByteCtrls {
        margin:             2px 0 8px 15px;
    }

    .ngByteInputDec0 {
        padding:            0 0 0 5px;
    }
    .ngByteInputHex0 {
        padding:            0 0 0 5px;
    }

    .ngByteSzCont {
        margin-top:         3px;
    }
    .ngByteSz {
        margin-top:         1px;
    }

    .ngByteContDec0 {
        margin-top:         45px;
    }
    .ngByteContDec1 {
        margin-top:         45px;
    }
    .ngByteContDec2 {
        margin-top:         58px;
    }

    .ngByteInputDec1 {
        padding:            0 0 0 5px;
    }
    .ngByteInputHex1 {
        padding:            0 0 0 5px;
    }

    .ngByteInputDec2 {
        padding:            0 0 0 5px;
    }
    .ngByteInputHex2 {
        padding:            0 0 0 5px;
    }

    .ngByteOpCont {
        margin:             8px 0 0 5px;
    }

    .panel-body {
        /* Panel inside the accordion -- contents of accordion */
        padding:            4px 0 0 5px;
        height:             19.5em;
    }

}







