<!doctype html>
<html ng-app="bitwiseApp">
<head>
    <meta charset="utf-8">
    <title>Bitwise Calculator</title>

    <!--================ CSS ===================-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- build:css -->
    <link rel="stylesheet" href="./theme/default.css">
    <!-- endbuild -->

    <!--=============== SCRIPTS ================-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.4.0.min.js"></script>
    
    <!-- build:js -->
    <script src="./bitwiseCalc.js"></script>
    <script src="./inputHex.js"></script>
    <script src="./inputDec.js"></script>
    <script src="./ngByte.js"></script>
    <script src="./aboutController.js"></script>
    <!-- endbuild -->
    
</head>

<!-- ======================================================================= -->
<!-- ====================== ABOUT HTML ===================================== -->
<!-- ======================================================================= -->

<script type="text/ng-template" id="aboutContent.html">
<div class = "modal-header">
    <h4 class = "modal-title" id = "modal-title" > About Bitwise Calculator</h4>
</div>
<div class = "modal-body" id = "modal-body">
    <h2 class="ngAboutBodyTitle">Bitwise Calculator v{{ctrl.APP_VERSION}}</h2>
    <div class="ngAboutBodyAuthor">Author: T. Moore</div>
    <div class="ngAboutBodyLicense">License: <a href="http://www.wtfpl.net/">WTFPL</a></div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ctrl.ok()">OK</button>
    </div>
</div>
</script>

<!-- ======================================================================= -->
<!-- ====================== MAIN BODY ====================================== -->
<!-- ======================================================================= -->

<body ng-controller="bitwiseCtrl as ctrl" ng-cloak>

    <div class="outterWell">

        <!-- ========= FIRST BYTE =============== -->
        <div class="ngBitContainer">
            
            <div class="ngByteCtrls">
                <button type="button" class="btn btn-xs btn-primary ngByteCtrlSet" 
                    uib-tooltip="Set ALL bits"
                    tooltip-placement="bottom"
                    tooltip-popup-delay="1000"
                    ng-click="ctrl.actionBtn(0, 'set')">
                    Set
                </button>
                <button type="button" class="btn btn-xs btn-primary ngByteCtrlClr"
                    uib-tooltip="Clear ALL bits"
                    tooltip-placement="bottom"
                    tooltip-popup-delay="1000"
                    ng-click="ctrl.actionBtn(0, 'clear')">
                    Clear
                </button>
                <button type="button" class="btn btn-xs btn-primary ngByteCtrlEndian"
                    uib-tooltip="Invert ALL bits"
                    tooltip-placement="bottom"
                    tooltip-popup-delay="1000"
                    ng-click="ctrl.actionBtn(0, 'inv')">
                    Inv
                </button>
                <button type="button" class="btn btn-xs btn-primary ngByteCtrlEndian"
                    uib-tooltip="Swap endianess of bytes"
                    tooltip-placement="bottom"
                    tooltip-popup-delay="1000"
                    ng-click="ctrl.actionBtn(0, 'endian')">
                    Endian
                </button>

                <button type="button" class="btn btn-xs btn-primary ngByteCtrlShl"
                    uib-tooltip="Shift left {{ctrl.shiftChoice[0]}} bits"
                    tooltip-placement="bottom"
                    tooltip-popup-delay="1000"
                    ng-click="ctrl.actionBtn(0, 'shl')">
                    &lt;&lt;
                </button>
                <div class="btn-group" uib-dropdown is-open="ctrl.isShiftOpen[0]">
                    <button id="single-button" type="button" 
                        class="btn btn-xs btn-primary ngByteCtrlShiftNum" 
                        uib-dropdown-toggle
                        uib-tooltip="Number of shift bits"
                        tooltip-placement="bottom"
                        tooltip-popup-delay="1000">
                        {{ctrl.shiftChoice[0]}} <span class="caret ngByteShiftDDCaret"></span>
                    </button>
                    <ul class="dropdown-menu scrollableMenu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-repeat="val in ctrl.shiftChoices">
                            <a href="#" ng-click="ctrl.shiftChoice[0]=val" >{{val}}</a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-xs btn-primary ngByteCtrlShr"
                    uib-tooltip="Shift right {{ctrl.shiftChoice[0]}} bits"
                    tooltip-placement="bottom"
                    tooltip-popup-delay="1000"
                    ng-click="ctrl.actionBtn(0, 'shr')">
                    &gt;&gt;
                </button>

                <button type="button" class="btn btn-xs btn-primary ngByteCtrlDec"
                    uib-tooltip="Decrement value by one"
                    tooltip-placement="bottom"
                    tooltip-popup-delay="1000"
                    ng-click="ctrl.actionBtn(0, 'dec')">
                    --
                </button>
                <button type="button" class="btn btn-xs btn-primary ngByteCtrlInc"
                    uib-tooltip="Increment value by one"
                    tooltip-placement="bottom"
                    tooltip-popup-delay="1000"
                    ng-click="ctrl.actionBtn(0, 'inc')">
                    ++
                </button>
            </div>

            <div class="ngByteWordHi">
                <ng-byte class="ngByteWordHi1"
                    int-ref="0"
                    byte-idx="4"
                    bits-used="ctrl.bitsUsed"
                    on-change="ctrl.byteChanges"
                    val="ctrl.data[0].bytes[3]">
                </ng-byte>
                <ng-byte class="ngByteWordHi0"
                    int-ref="0"
                    byte-idx="3"
                    bits-used="ctrl.bitsUsed"
                    on-change="ctrl.byteChanges"
                    val="ctrl.data[0].bytes[2]">
                 </ng-byte>
            </div>
            <div class="ngByteWordLo">
                <ng-byte class="ngByteWordLo1"
                    int-ref="0"
                    byte-idx="2"
                    bits-used="ctrl.bitsUsed"
                    on-change="ctrl.byteChanges"
                    val="ctrl.data[0].bytes[1]">
                </ng-byte>
                <ng-byte class="ngByteWordLo0"
                    int-ref="0"
                    byte-idx="1"
                    bits-used="ctrl.bitsUsed"
                    on-change="ctrl.byteChanges"
                    val="ctrl.data[0].bytes[0]">
                </ng-byte>
            </div>
        </div>

        <div class="ngByteSzCont">

            <label>
                <input type="checkbox" 
                    class="ngByteSignedCheck"
                    ng-model="ctrl.isSigned"
                    ng-true-value="true"
                    ng-false-value="false"
                    ng-change="ctrl.signChange()">
                Signed
            </label>

            <div class="btn-group" uib-dropdown is-open="ctrl.isBitsUsedOpen">
                <button id="single-button" type="button" 
                    class="btn btn-xs btn-primary ngByteSz" 
                    uib-dropdown-toggle
                    uib-tooltip="Number of bits used"
                    tooltip-placement="bottom"
                    tooltip-popup-delay="1000">
                    {{ctrl.bitsUsed}} <span class="caret ngByteBitsDDCaret"></span>
                </button>
                <ul class="dropdown-menu scrollableMenu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="val in ctrl.bitsUsedSz">
                        <a href="#" ng-click="ctrl.bitsUsed=val; ctrl.bitsUsedChanged()" >{{val}}</a>
                    </li>
                </ul>
                <label class="ngByteSzLbl">
                    -bits
                </label>
            </div>
        </div>
        
        <div class="ngByteContDec0">
            <div class="ngByteLabelDec0">
                <label>Decimal</label>
            </div>
            <input type="text"
                class="form-control input-sm ngByteInputDec0"
                ng-model="ctrl.data[0].iDec"
                input-dec
                signed="ctrl.isSigned"
                bits="ctrl.bitsUsed"
                dec-change="ctrl.decChanged(0)">
        </div>
        
        <div class="ngByteContHex0">
            <div class="ngByteLabelHex0">
                <label>Hex</label>
            </div>
            <input type="text"
                class="form-control input-sm ngByteInputHex0"
                ng-model="ctrl.data[0].hDec"
                input-hex
                hex-max="ctrl.hexMax"
                hex-precision="ctrl.hexPrecision"
                hex-change="ctrl.hexChanged(0)">
        </div>

    </div>

    <uib-accordion class="extByteAcc">
        <div uib-accordion-group class="panel-default extByteAccGrp" is-open="ctrl.isExtByteOpen">
            <uib-accordion-heading>
                <div class="extByteAccHdr" ng-click="ctrl.isExtByteOpen=!!ctrl.isExtByteOpen">
                    <label class="extByteAccLbl">
                        Extended View
                    </label>
                    <i class="pull-right glyphicon extByteAccLblIcon" ng-class="{'glyphicon-minus': ctrl.isExtByteOpen, 'glyphicon-plus': !ctrl.isExtByteOpen}"></i>
                </div>
            </uib-accordion-heading>

            <!-- ========= SECOND EXT BYTE =============== -->
            <div class="ngBitContainer">

                <div class="ngByteCtrls">
                    <button type="button" class="btn btn-xs btn-primary ngByteCtrlSet" 
                        uib-tooltip="Set ALL bits"
                        tooltip-placement="bottom"
                        tooltip-popup-delay="1000"
                        ng-click="ctrl.actionBtn(1, 'set')">
                        Set
                    </button>
                    <button type="button" class="btn btn-xs btn-primary ngByteCtrlClr"
                        uib-tooltip="Clear ALL bits"
                        tooltip-placement="bottom"
                        tooltip-popup-delay="1000"
                        ng-click="ctrl.actionBtn(1, 'clear')">
                        Clear
                    </button>
                    <button type="button" class="btn btn-xs btn-primary ngByteCtrlEndian"
                        uib-tooltip="Invert ALL bits"
                        tooltip-placement="bottom"
                        tooltip-popup-delay="1000"
                        ng-click="ctrl.actionBtn(1, 'inv')">
                        Inv
                    </button>
                    <button type="button" class="btn btn-xs btn-primary ngByteCtrlEndian"
                        uib-tooltip="Swap endianess of bytes"
                        tooltip-placement="bottom"
                        tooltip-popup-delay="1000"
                        ng-click="ctrl.actionBtn(1, 'endian')">
                        Endian
                    </button>

                    <button type="button" class="btn btn-xs btn-primary ngByteCtrlShl"
                        uib-tooltip="Shift left {{ctrl.shiftChoice[1]}} bits"
                        tooltip-placement="bottom"
                        tooltip-popup-delay="1000"
                        ng-click="ctrl.actionBtn(1, 'shl')">
                        &lt;&lt;
                    </button>
                    <div class="btn-group" uib-dropdown is-open="ctrl.isShiftOpen[1]">
                        <button id="single-button" type="button" 
                            class="btn btn-xs btn-primary ngByteCtrlShiftNum" 
                            uib-dropdown-toggle
                            uib-tooltip="Number of shift bits"
                            tooltip-placement="bottom"
                            tooltip-popup-delay="1000">
                            {{ctrl.shiftChoice[1]}} <span class="caret ngByteShiftDDCaret"></span>
                        </button>
                        <ul class="dropdown-menu scrollableMenu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="val in ctrl.shiftChoices">
                                <a href="#" ng-click="ctrl.shiftChoice[1]=val" >{{val}}</a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-xs btn-primary ngByteCtrlShr"
                        uib-tooltip="Shift right {{ctrl.shiftChoice[1]}} bits"
                        tooltip-placement="bottom"
                        tooltip-popup-delay="1000"
                        ng-click="ctrl.actionBtn(1, 'shr')">
                        &gt;&gt;
                    </button>

                    <button type="button" class="btn btn-xs btn-primary ngByteCtrlDec"
                        uib-tooltip="Decrement value by one"
                        tooltip-placement="bottom"
                        tooltip-popup-delay="1000"
                        ng-click="ctrl.actionBtn(1, 'dec')">
                        --
                    </button>
                    <button type="button" class="btn btn-xs btn-primary ngByteCtrlInc"
                        uib-tooltip="Increment value by one"
                        tooltip-placement="bottom"
                        tooltip-popup-delay="1000"
                        ng-click="ctrl.actionBtn(1, 'inc')">
                        ++
                    </button>
                </div>

                <div class="ngByteWordHi">
                    <ng-byte class="ngByteWordHi1"
                        int-ref="1"
                        byte-idx="4"
                        bits-used="ctrl.bitsUsed"
                        on-change="ctrl.byteChanges"
                        val="ctrl.data[1].bytes[3]">
                    </ng-byte>
                    <ng-byte class="ngByteWordHi0"
                        int-ref="1"
                        byte-idx="3"
                        bits-used="ctrl.bitsUsed"
                        on-change="ctrl.byteChanges"
                        val="ctrl.data[1].bytes[2]">
                     </ng-byte>
                </div>
                <div class="ngByteWordLo">
                    <ng-byte class="ngByteWordLo1"
                        int-ref="1"
                        byte-idx="2"
                        bits-used="ctrl.bitsUsed"
                        on-change="ctrl.byteChanges"
                        val="ctrl.data[1].bytes[1]">
                    </ng-byte>
                    <ng-byte class="ngByteWordLo0"
                        int-ref="1"
                        byte-idx="1"
                        bits-used="ctrl.bitsUsed"
                        on-change="ctrl.byteChanges"
                        val="ctrl.data[1].bytes[0]">
                    </ng-byte>
                </div>
            </div>

            <div class="ngByteAbountCont">
                <i class="pull-right glyphicon glyphicon-info-sign ngByteAboutIcon"
                    ng-click="ctrl.about()">
                </i>
            </div>

            <div class="ngByteContDec1">
                <div class="ngByteLabelDec1">
                    <label>Decimal</label>
                </div>
                <input type="text"
                    class="form-control input-sm ngByteInputDec1"
                    ng-model="ctrl.data[1].iDec"
                    input-dec
                    signed="ctrl.isSigned"
                    bits="ctrl.bitsUsed"
                    dec-change="ctrl.decChanged(1)">
            </div>
            
            <div class="ngByteContHex1">
                <div class="ngByteLabelHex1">
                    <label>Hex</label>
                </div>
                <input type="text"
                    class="form-control input-sm ngByteInputHex1"
                    ng-model="ctrl.data[1].hDec"
                    input-hex
                    hex-max="ctrl.hexMax"
                    hex-precision="ctrl.hexPrecision"
                    hex-change="ctrl.hexChanged(1)">
            </div>

            <!-- ========= CALCULATED EXT BYTE =============== -->
            <div class="ngBitContainer">

                <div class="ngByteOpCont">
                    <label class="ngByteOpCls" ng-repeat="bitOp in ctrl.ops">
                        <input type="radio" name="op" 
                            ng-click="ctrl.opSel = bitOp; ctrl.bitsUsedChanged()"
                            ng-checked="ctrl.opSel == bitOp">
                        {{bitOp}}
                    </label>
                </div>

                <div class="ngByteWordHi">
                    <ng-byte class="ngByteWordHi1"
                        int-ref="2"
                        byte-idx="4"
                        bits-used="ctrl.bitsUsed"
                        on-change="ctrl.byteChanges"
                        val="ctrl.data[2].bytes[3]"
                        disabled>
                    </ng-byte>
                    <ng-byte class="ngByteWordHi0"
                        int-ref="2"
                        byte-idx="3"
                        bits-used="ctrl.bitsUsed"
                        on-change="ctrl.byteChanges"
                        val="ctrl.data[2].bytes[2]"
                        disabled>
                     </ng-byte>
                </div>
                <div class="ngByteWordLo">
                    <ng-byte class="ngByteWordLo1"
                        int-ref="2"
                        byte-idx="2"
                        bits-used="ctrl.bitsUsed"
                        val="ctrl.data[2].bytes[1]"
                        disabled>
                    </ng-byte>
                    <ng-byte class="ngByteWordLo0"
                        int-ref="2"
                        byte-idx="1"
                        bits-used="ctrl.bitsUsed"
                        val="ctrl.data[2].bytes[0]"
                        disabled>
                    </ng-byte>
                </div>
            </div>

            <div class="ngByteContDec2">
                <div class="ngByteLabelDec2">
                    <label>Decimal</label>
                </div>
                <input type="number"
                    class="form-control input-sm ngByteInputDec2"
                    ng-model="ctrl.data[2].iDec"
                    input-dec
                    signed="ctrl.isSigned"
                    bits="ctrl.bitsUsed"
                    dec-change="ctrl.decChanged(2)"
                    disabled>
            </div>
            
            <div class="ngByteContHex2">
                <div class="ngByteLabelHex2">
                    <label>Hex</label>
                </div>
                <input type="text"
                    class="form-control input-sm ngByteInputHex2"
                    ng-model="ctrl.data[2].hDec"
                    input-hex
                    hex-max="ctrl.hexMax"
                    hex-precision="ctrl.hexPrecision"
                    hex-change="ctrl.hexChanged(2)"
                    disabled>
            </div>

        </div>
    </uib-accordion>

    <!--=============== APP SCRIPTS/INIT ================-->
    

</body>
</html>
